@use "../../styles/variables.scss" as *;

.layout {
    display: flex;
    flex-direction: column;

    background: $Background;
    min-height: 100vh;

    .Main_content{
        flex:1;
        display: flex;

        .Content{
            flex: 1;
            padding:2rem;
        }
    }
}