@use "../../styles/variables.scss" as *;

.layout {
    display: flex;
    height: 100vh;

    .sidebar{
        width: 260px;
        background: $Sidebar_header;
    }

    .right_section{
        flex: 1;
        display: flex;
        flex-direction: column;

        .header{
            height: 80px;
            background: $Header;
        }
        
        .content{
            flex: 1;
            background: $Background;
            padding: 2rem;
        }
    }
}


